.corte1, .corte3{
    display: flex;
}
.corte1 img{
 margin-left: 500px;
}
.infoCorte1, .infoCorte3{
    color: rgb(240, 195, 72);
    width: 50%;
}

.corte2, .corte4{
    background-color: rgb(240, 195, 72);
    display: flex;
}
.infoCorte2{
    width: 50%;
}
.corte3 img{
    width: 500px;
    margin-left: 500px;
}


.card9 {
    width: 300px;
    height: 350px;
    background: #ffd166;
    color: #073b4c;
    font-weight: 600;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
    transition: all .5s ease;
  }
  
  .card9::before {
    content: "32,99$";
    position: absolute;
    width: 75px;
    height: 75px;
    top: 35%;
    right: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #ef476f;
    color: aliceblue;
    font-weight: 800;
    transition: all .5s ease;
  }
  
  .card__image9 {
    width: initial;
    height: 150px;
    background: rgb(6,214,160);
    background: linear-gradient(163deg, #06d6a0 18%, rgba(17,138,178,1) 79%);
    transition: all .5s ease;
  }
  
  .title9 {
    font-weight: 800;
    font-size: 1.4em;
  }
  
  .card__content9 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    gap: 10px;
  }
  
  .card9:hover {
    border-top-left-radius: 35px;
    box-shadow: 5px 5px 0px 0px #06d6a0, 10px 10px 0px 0px #118ab2, 15px 15px 0px 0px #06d6a0, 5px 5px 15px 5px rgba(0,0,0,0);
  }
  
  .card9:hover .card__image {
    border-top-left-radius: 25px;
  }
  
  .card9:hover::before {
    transform: scale(1.3) rotate(-30deg);
  }
  .productosPelo{
    display: flex;
    gap: 20px;
    margin: 100px;
  }