.containerPeluqueros{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 300px;
}
.cardP {
    position: relative;
    width: 300px;
    height: 375px;
    aspect-ratio: 16/9;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px rgb(240, 195, 72);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card__image {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Ajusta el tamaño de la imagen para cubrir completamente el contenedor */
  }
  
  .cardP svg {
    display: none; /* Oculta el contenido SVG, ya que ahora estamos utilizando una imagen */
  }
  
  .cardP:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__contentP {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(240, 195, 72);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .cardP:hover .card__contentP {
    transform: rotateX(0deg);
  }
  
  .card__titleP {
    margin: 0;
    font-size: 20px;
    color: #000000;
    font-weight: 700;
  }
  
  .cardP:hover svg {
    scale: 0;
  }
  
  .card__descriptionP {
    margin: 10px 0 10px;
    font-size: 12px;
    color: #000000;
    line-height: 1.4;
  }
  
  .card__buttonP {
    padding: 15px;
    border-radius: 8px;
    background: #000000;
    border: none;
    color: white;
  }
  
  .secondaryP {
    background: transparent;
    color: #000000;
    border: 1px solid #000000;
  }
  