.containerCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: rgb(240, 195, 72);
    font-family: "Antonio", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    gap: 100px;
}

.horarios, .contacto{
  text-align: justify;
}

.mapa iframe{
  border-radius: 16px;
}