.containerOf {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #121212; /* Fondo oscuro */
  color: rgb(240, 195, 72); /* Texto en blanco */
  padding: 40px;
  text-align: left;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


.textContent {
  flex: 1;
  max-width: 50%;
}

.imageContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.carImage {
  opacity: 0.8; /* Ajusta la opacidad si es necesario */
}
.imageContainer img{
  width: 600px;
  border-radius: 16px;
  border-style: double;
}

.title {
  font-size: 2em;
  font-weight: bold;
}

.subtitle {
  color: rgb(240, 195, 72); /* Gris claro */
  margin: 10px 0;
  font-size: 1em;
}

.serviceButton {
  background-color: rgb(240, 195, 72); /* Naranja */
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.statsContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #121212;
  font-family: "Antonio", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.statItem {
  text-align: center;
}

.statItem h3 {
  font-size: 2em;
  color: rgb(240, 195, 72); /* Naranja para los números */
}

.statItem p {
  font-size: 0.9em;
  color: #b0b0b0; /* Gris claro */
}
