.Nav {
    background-color: #000000; /* Cambia el color de fondo según tus necesidades */
  }
  
  .pNav {
    color: rgb(240, 195, 72) !important; /* Cambia el color del texto a blanco */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .pNav h1{
    font-family: 'Six Caps', sans-serif;
    font-size: 80px;
    margin-left: 550px;
  }
