.containerBarberos{
    background-color: rgb(0, 0, 0);
    height: 1000px;
}
.containerPel1{
    display: flex;
    width: 100%;
    height: 550px;
    color: rgb(0, 0, 0);
    margin-bottom: 300px;
    margin-top: 90px;
    background-color: rgb(240, 195, 72);
}

.imgPel{
  width: 100%;
}
.imgPel img{
  position: absolute;
  left: 50px;
  top: 190px;
  width: 500px;
}
.imgPel h1{
  margin-top: 90px;
  margin-left: 20px;
  font-family: 'Six Caps', sans-serif;
  font-size: 80px;
}

.imgPel h5{
  margin-top: -20px;
  margin-left: 200px;
  
}

.imgPel p{
  margin-left: 825px;
  width: 900px;
  text-align: justify;
}



.comic-button7 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: rgb(240, 195, 72);
    background-color: #000000;
    border: 2px solid rgb(240, 195, 72);
    border-radius: 10px;
    box-shadow: 5px 5px 0px rgb(240, 195, 72);
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button7:hover {
    background-color: rgb(240, 195, 72);
    color: #000000;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #ff5252;
  }
  
  .comic-button7:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }
  



  .card5 {
    position: relative;
    width: 400px;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px rgb(240, 195, 72);
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card5 img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card5:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgb(240, 195, 72);
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card5:hover .card__content5 {
    transform: rotateX(0deg);
  }
  
  .card__title5 {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card5:hover svg {
    scale: 0;
  }
  
  .card__description5 {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }



  .cortePel1{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    max-width: 100%;
    margin-bottom: 100px;
    padding: 50px;
  }
  
.social-login-icons {
  margin-top: 20px;
  margin-left: 810px;
  display: flex;
  align-items: center;
  gap: 10px;
  -webkit-box-reflect: below 5px linear-gradient(transparent, #00000055);
}
.social-login-icons svg {
  width: 40px;
}

.social-icon-1,
.social-icon-1-1,
.social-icon-2,
.social-icon-2-2,
.social-icon-3,
.social-icon-3-3,
.social-icon-4,
.social-icon-4-4 {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin: 20px 0 0px 0;
}

.icon svg {
  fill: #111;
}

.socialcontainer {
  height: 80px;
  overflow: hidden;
}
.social-icon-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0);
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
}
.social-icon-1 svg,
.social-icon-2 svg,
.social-icon-3 svg,
.social-icon-4 svg {
  opacity: 0;
  transition-duration: 0.5s;
  transition-delay: 0.2s;
}
.social-icon-1-1 {
  transition-duration: 0.4s;
  background-color: rgb(0, 0, 0, 0);
}
.socialcontainer:hover .social-icon-1 {
  transform: translateY(-70px);
}
.socialcontainer:hover .social-icon-1 svg,
.socialcontainer:hover .social-icon-2 svg,
.socialcontainer:hover .social-icon-3 svg,
.socialcontainer:hover .social-icon-4 svg {
  opacity: 1;
}
.social-icon-2 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: linear-gradient(
    72.44deg,
    #ff7a00 11.92%,
    #ff0169 51.56%,
    #d300c5 85.69%
  );
}
.socialcontainer:hover .social-icon-2 {
  transform: translateY(-70px);
}
.social-icon-3 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);
  background: #316ff6;
}

.socialcontainer:hover .social-icon-3 {
  transform: translateY(-70px);
}
.social-icon-4 {
  transition-duration: 0.4s;
  transition-timing-function: cubic-bezier(0.46, -0.78, 0.5, 1.56);

  background: linear-gradient(
    180deg,
    rgba(129, 34, 144, 1) 0%,
    rgba(77, 34, 124, 1) 91%
  );
}

.socialcontainer:hover .social-icon-4 {
  transform: translateY(-70px);
}
